/* * {
  margin: 0;
} */

.row-1, .row-2,.row-3,.row-4 {
    display: flex;
    padding: 30px;
}
.row-1,.row-3{
     background-color: #FFA500;
}
.row-2,.row-4{
   background-color:#FF4500 ;
}
.row-1 .column{
    margin:0;
    padding: 0;
}
.row-2 .column{
    background-color: white;
    margin: 15px;
}
.row-3 .column{
    background-color: white;
    padding: 20px;
    width: 36%; 
    box-sizing: border-box;
}
.row-3{
    justify-content: center;
}
.row-4 .column{
    box-sizing: border-box;
    background-color: #FFA500;
    padding: 20px;
    margin: 15px;
    width: 25%;
}
.row-4{ 
    justify-content: space-between;
}



