body {
  background-color: #f2e9d8;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

p {
  text-align: justify;
}

table {
  background: url(paveiksliukai/pexels-photo-196667.jpeg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-size: 1.8em;
  width: 500px;
  height: 200px;
}

td {
  background-color: rgba(255, 255, 255, 0.6);
}

table,
td {
  border: 2px solid red;
  border-collapse: collapse;
}
#pirma-lentele td {
  vertical-align: top;
}

li {
  text-transform: lowercase;
}
ul li{
    list-style-type: square;
}
ol li{
    list-style-type: upper-roman;
}
.saraso-elementai{
    list-style-type: none;
    border-bottom: 2px solid silver;
}



.langeliai {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#pirmas-paragrafas {
  color: grey;
  font-size: 1.5em;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

a {
  color: #ed0a3f;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #2d383a;
}
img {
  height: 200px;
}
